body {
  background: #f9fafb;
  margin: 0;
  padding: 0;
}

.app-header {
  text-align: center;
  padding: 5px;
}

.list-item {
  border-bottom: 1px solid #b5b5b5;
}

.content-row {
  background: #e2e1e1;
  z-index: 1;
  position: absolute;
  height: 49px;
  padding: 15px;
}

.delete-icon {
  text-align: center;
  color: white;
  font-weight: bold;
  background: #ca0000;
  cursor: pointer;
  float: right;
}

.form {
  padding: 15px;
  margin: 15px;
}

.btn-submit{
  width: 100%;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.fa-trash-o {
  font-size: 2em;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
